/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --title-font-weight: 700;
    --font-weight: 400;
    --font-size: 1.125em;
    --button-color: #fff;
    --contour-color: #000;
    --animation-fill: #FF0000;
    --scope: solid 2px #000;
    --outline-color: #fff;
    --main-bg-color: #d3d3d3;
    --accent-bg-color: #e7e7e7;
    --final-bg-color: #1a1a1a;
    --bg-image: repeating-linear-gradient(
            to right,
            var(--main-bg-color) 0px,
            var(--main-bg-color) 2px,
            transparent 2px,
            transparent 4px),
    repeating-linear-gradient(
            to bottom,
            var(--main-bg-color) 0px,
            var(--main-bg-color) 2px,
            transparent 2px,
            transparent 4px),
    linear-gradient(
            to bottom,
            var(--accent-bg-color) 0%,
            var(--accent-bg-color) 0.01%,
            var(--final-bg-color) 100%
    );
}